
a{
    text-decoration: none;
}
#user-div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    margin: 4px auto;
    color: var(--mat-sys-primary);
}
#user-div:hover{
    background-color: var(--mat-sys-outline-variant);
}

mat-card{
    width: 100%;
    margin: auto;
    display: block;
}

img.patient-img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

mat-card-title{
    margin: 16px;
}
mat-card-subtitle{
    margin: 0 16px;
}