.full-spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    /*border-bottom: 1px solid var(--mat-sys-secondary-container);*/
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 10;
    top: 0;
}

mat-toolbar.shadow{
    box-shadow: 0px 0px 5px 0px var(--mat-sys-outline-variant);
}

#mainMenu{
    display: block;
}

#littleMenu{
    display: none;
}

/*@media screen and (max-width:500px) {
    #mainMenu{
        display: none;
    }
    
    #littleMenu{
    display: block;
    }
}*/

.lightDarkBtn{
    margin: 0px 20px 0px 0;
}

@media screen and (max-width:600px) {
    .lightDarkBtn{
        margin: 0px 0px 0px 0;
    }
}

/*img#drmona-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}*/
