:host{
    display: block;
    margin: 100px auto 0;
    width: fit-content;
}
form{
    width: 100%;
}
mat-form-field{
    display: flex;
    width: 100%;
}
#login-btn{
    display: flex;
    margin: auto;
}

img{
    width: 200px;
    height: 300px;
    float: left;
    object-fit: cover;
}
