mat-form-field{
    width: 100%;
}
mat-dialog-content{
    width: 400px;
}
button#selectButton{
    margin: 8px;
}
#file-box{
    margin: 4px auto;
    width: fit-content;
}
/*mat-dialog-actions button.warning{
    display: block;
    float: left;
}*/