:host{
    width: fit-content;
    display: block;
    margin: 50px auto 0;
}

img.userProfileImage{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}

th,td{
    text-align: center;
}
tr:hover{
    /*border: 1px solid var(--mat-sys-outline);*/
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
}