:host{
    display: block;
    margin: 100px auto 0;
    width: 400px;
}
form{
    width: 100%;
}
mat-form-field{
    display: flex;
    width: 100%;
}
#login-btn{
    display: flex;
    margin: auto;
}