:host{
    display: block;
    width: 98%;
}
.codeSection{
    padding: 0px 20px;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 20px;
    position: relative;
    margin: 16px auto;
}

.codeSection pre{
    overflow: auto;
    padding: 10px 0;
    max-height: 80vh;
}

.codeSection .copyBtn{
    position: absolute;
    top: -16px;
    right: -16px;
    background-color: var(--mat-sys-surface);
}