/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
html{
    scroll-behavior: smooth;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding-top: 56px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}
*/

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('../public/Material_Symbols_Outlined/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


/************ custom scrollbar *************/
/* Apply to the entire application */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--mat-sys-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline-variant);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-outline);
}

/************** expansion panel **************/
div.mat-expansion-panel-body{
  padding: 0 8px;
}


