mat-card{
    width: 50vw;
    min-width: 400px;
    margin: 50px auto 0;
    display: block;
}

img#patient-profile-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

mat-card-title{
    margin: 0 16px;
}
mat-card-subtitle{
    margin: 0 16px;
    letter-spacing: 1px;
}
